@import url("http://fonts.googleapis.com/css?family=Alegreya+SC:400,400italic,700");
@import url("http://fonts.googleapis.com/css?family=Alegreya:400,400italic,700");
* {
  -webkit-font-smoothing: antialiased; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), url("../img/paper.png");
  color: rgba(0, 0, 0, 0.87);
  font-family: "Alegreya"; }
  body p, body ul > li, body a {
    font-size: 18px; }
    @media screen and (max-width: 320px) {
      body p, body ul > li, body a {
        font-size: 14px; } }
  body h1, body h2, body h3 {
    font-weight: 700; }

a {
  color: #FF4D4D;
  font-family: "Alegreya SC";
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-right: 16px; }
  a i {
    vertical-align: bottom; }
  a:hover {
    color: #FF4343; }

section {
  padding: 2em 0; }
  section .section-header {
    display: block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em; }
    @media (max-width: 768px) {
      section .section-header {
        height: 50px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      section .section-header {
        height: 60px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      section .section-header {
        height: 70px; } }
    @media (min-width: 1200px) {
      section .section-header {
        height: 80px; } }
    section .section-header svg {
      fill: rgba(0, 0, 0, 0.87);
      height: 100%; }

.btn-default {
  background: #FF4D4D;
  border: none;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px; }
  .btn-default:hover {
    background: #FF4343;
    color: rgba(255, 255, 255, 0.87); }

.alegreya-sc {
  font-family: "Alegreya SC";
  letter-spacing: 0.02em; }

@media screen and (min-width: 768px) {
  .navbar-fixed-top {
    padding-right: 15px; } }

.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/coverphoto.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
  position: relative;
  width: 100%;
  overflow: hidden; }
  header .text-container {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center; }
    @media screen and (max-width: 320px) {
      header .text-container {
        width: 80%; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      header .text-container {
        width: 70%; } }
    @media screen and (min-width: 480px) and (max-width: 600px) {
      header .text-container {
        width: 60%; } }
    @media screen and (min-width: 600px) and (max-width: 1000px) {
      header .text-container {
        width: 50%; } }
    header .text-container #names svg, header .text-container #date svg, header .text-container #city svg {
      width: 100%;
      fill: rgba(255, 255, 255, 0.87); }
  header .header-scroll-button {
    display: block;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: 250ms;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;}
    header .header-scroll-button .chevron-down {
      display: block;
      height: 100%;
      margin: 0 auto; }
      header .header-scroll-button .chevron-down svg {
        max-height: 100%;
        max-width: 100%;
        fill: rgba(255, 255, 255, 0.87); }
    header .header-scroll-button:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer; }

.navbar {
  background: url("../img/paper.png");
  height: 60px;
  font-family: "Alegreya SC";
  font-size: 18px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  border: none;
    border-radius: 0;
  text-transform: lowercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1; }
  .navbar .container-fluid .navbar-brand {
    height: 40px;
    margin: 10px 15px;
    padding: 0; }
    .navbar .container-fluid .navbar-brand svg {
      height: 100%;
      width: auto;
      display: inline-block; }
  .navbar .container-fluid .navbar-nav li > a {
    padding: 0;
    line-height: 29px;
    margin: 15px 10px;
    border-bottom: 1px solid transparent;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    width: 90%; }
    .navbar .container-fluid .navbar-nav li > a:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.87);
      color: #FF4343; }
  .navbar .container-fluid .navbar-toggle {
    margin: 13px 15px;
    background: #FF4D4D; }
    .navbar .container-fluid .navbar-toggle .icon-bar {
      background: white; }
    .navbar .container-fluid .navbar-toggle.collapsed {
      background: white; }
      .navbar .container-fluid .navbar-toggle.collapsed .icon-bar {
        background: rgba(0, 0, 0, 0.87); }
  .navbar .container-fluid .navbar-collapse, .navbar .container-fluid .navbar-collapse ul {
    text-align: center;
    border-top: none; }
    .navbar .container-fluid .navbar-collapse[aria-expanded="true"], .navbar .container-fluid .navbar-collapse ul[aria-expanded="true"] {
      transition: 500ms;
      webkit-transition: 500ms;
      -moz-transition: 500ms;
      -ms-transition: 500ms;
      -o-transition: 500ms;
      background: rgba(238, 238, 238, 0.95); }

section#couple {
  text-align: center; }
  section#couple #bride-icon, section#couple #groom-icon {
    height: 50px;
    margin: 1em auto 0 auto;
    padding-bottom: 10px;
    width: 240px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.87); }
    section#couple #bride-icon svg, section#couple #groom-icon svg {
      fill: rgba(0, 0, 0, 0.87);
      margin-bottom: 2em;
      height: 100%;
      width: auto; }
  section#couple h3 {
    margin-top: 10px; }
  section#couple #bride-photo, section#couple #groom-photo {
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: 4px solid rgba(255, 255, 255, 0.87);
    z-index: 100;
    max-width: 300px; }
    @media screen and (max-width: 320px) {
      section#couple #bride-photo, section#couple #groom-photo {
        width: 60%; } }
  section#couple #bridesmaids, section#couple #groomsmen {
    width: 65%;
    margin: 2em auto;
    text-align: center; }
    @media (max-width: 992px) {
      section#couple #bridesmaids, section#couple #groomsmen {
        width: 80%; } }
    section#couple #bridesmaids .bridesmaid, section#couple #bridesmaids .groomsman, section#couple #groomsmen .bridesmaid, section#couple #groomsmen .groomsman {
      width: 120px;
      border-radius: 50%;
      margin: 0 auto 10px auto;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      border: 4px solid rgba(255, 255, 255, 0.87); }
    section#couple #bridesmaids .slick-prev:before, section#couple #bridesmaids .slick-next:before, section#couple #groomsmen .slick-prev:before, section#couple #groomsmen .slick-next:before {
      color: rgba(0, 0, 0, 0.87); }

section#eventinfo h1 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  margin-bottom: 15px; }
section#eventinfo img {
  width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.87);
    border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
section#eventinfo ul {
  padding: 0 20px; }
  section#eventinfo ul li > a {
    display: inline-block;
    margin-bottom: 1em; }
  section#eventinfo ul li:nth-child(3) > a {
    margin-bottom: 0; }

section#countdown {
  height: 250px;
  color: rgba(255, 255, 255, 0.87);
  line-height: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)), url("../img/countdownbackground.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed; }
  section#countdown h1 {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding: 10px 24px 20px 24px; }
  section#countdown span#days {
    font-size: 60px;
    font-style: italic; }

@media (max-width: 768px) {
  section#countdown {
    height: 120px; }
    section#countdown h1 {
      font-size: 22px; }
    section#countdown span#days {
      font-size: 44px; } }
section#photos {
  background: url("../img/grey_wash_wall.png"), #333333;
  color: white; }
  section#photos .section-header {
    padding-bottom: 28px; }
    section#photos .section-header svg {
      fill: white; }
    @media (max-width: 768px) {
      section#photos .section-header {
        height: 50px;
        padding-bottom: 17.5px; } }
    @media (min-width: 768px) and (max-width: 992px) {
      section#photos .section-header {
        height: 60px;
        padding-bottom: 21px; } }
    @media (min-width: 992px) and (max-width: 1200px) {
      section#photos .section-header {
        height: 70px;
        padding-bottom: 24.5px; } }
    @media (min-width: 1200px) {
      section#photos .section-header {
        height: 80px; } }
  section#photos .panel {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), url("../img/paper.png");
    border: 4px solid rgba(255, 255, 255, 0.87);
      border-radius: 4px; }
  section#photos .photos-text {
    width: 100%;
    margin: 0 auto 2em auto;
    text-align: center; }
    @media (orientation: landscape) and (min-width: 800px) {
      section#photos .photos-text {
        width: 75%; } }
    @media (orientation: landscape) and (min-width: 1000px) {
      section#photos .photos-text {
        width: 66%; } }
  section#photos .gallery {
    width: 100%;
    margin: 0 auto 1em auto;
    border: 4px solid rgba(255, 255, 255, 0.87);
      border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    @media (orientation: landscape) and (min-width: 800px) {
      section#photos .gallery {
        width: 85%; } }
    @media (orientation: landscape) and (min-width: 1000px) {
      section#photos .gallery {
        width: 75%; } }
    section#photos .gallery source, section#photos .gallery img {
      width: 100%;
      height: auto; }
    section#photos .gallery .slick-prev, section#photos .gallery .slick-next {
      height: 60px;
      width: 60px;
      margin-top: -30px; }
      section#photos .gallery .slick-prev:before, section#photos .gallery .slick-next:before {
        font-size: 24px;
        text-align: center;
        line-height: 40px; }
    section#photos .gallery .slick-prev {
      left: 0; }
    section#photos .gallery .slick-next {
      right: 0; }
    section#photos .gallery .slick-dots {
      bottom: 5px; }
      section#photos .gallery .slick-dots button::before {
        color: rgba(255, 255, 255, 0.87);
        font-size: 14px; }
        @media (max-width: 768px) {
          section#photos .gallery .slick-dots button::before {
            font-size: 8px; } }

footer {
  background: rgba(0, 0, 0, 0.12);
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-transform: lowercase;
  letter-spacing: 0.02em;
  font-family: "Alegreya SC"; }
  footer p {
    margin-bottom: 0; }

section#contact .section-header {
  padding-bottom: 26px; }
  @media (max-width: 768px) {
    section#contact .section-header {
      height: 50px;
      padding-bottom: 16.25px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    section#contact .section-header {
      height: 60px;
      padding-bottom: 19.5px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    section#contact .section-header {
      height: 70px;
      padding-bottom: 22.75px; } }
  @media (min-width: 1200px) {
    section#contact .section-header {
      height: 80px; } }

section#gifts {
  text-align: center; }
  section#gifts .section-header {
    margin-bottom: 1em; }
  section#gifts .logo-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap; }
    @media (max-width: 992px) {
      section#gifts .logo-container {
        width: 100%; } }
    section#gifts .logo-container *:hover svg, section#gifts .logo-container *:hover path {
      fill: #FF4D4D; }
    section#gifts .logo-container a {
      padding: 6px;
      display: inline-block;
      margin-right: 0; }
    section#gifts .logo-container #wm-sonoma svg {
      width: 95%;
      max-height: 60px; }
    section#gifts .logo-container #bbb svg {
      width: 80%;
      max-height: 120px; }
    section#gifts .logo-container #target svg {
      width: 100%;
      max-height: 100px; }
    section#gifts .logo-container #sandals svg {
      width: 90%;
      max-height: 60px; }

section#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../img/contactbackground.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;
  color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  section#contact .section-header svg {
    fill: white; }
  section#contact p {
    text-align: center;
    margin-bottom: 1em; }
  section#contact form {
    width: 800px;
    margin: 0 auto 2em;
    padding: 0 20px; }
    @media (max-width: 992px) {
      section#contact form {
        max-width: 100%; } }
    section#contact form input, section#contact form textarea {
      color: black;
      border: 4px solid #FF4D4D;
        border-radius: 4px;
      width: 100%;
      padding: 6px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 18px;
      font-weight: 400;
      box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23); }
      section#contact form input:focus, section#contact form textarea:focus {
        outline: none;
        border-color: #FF4343; }
    section#contact form .contact-info-group label {
      width: 50%;
      float: left;
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: 680px) {
        section#contact form .contact-info-group label {
          width: 100%; } }
      section#contact form .contact-info-group label:nth-child(1) {
        padding-right: 10px; }
        @media (max-width: 680px) {
          section#contact form .contact-info-group label:nth-child(1) {
            padding: 0; } }
      section#contact form .contact-info-group label:nth-child(2) {
        padding-left: 10px; }
        @media (max-width: 680px) {
          section#contact form .contact-info-group label:nth-child(2) {
            padding: 0; } }
    section#contact form label {
      display: block;
      margin-bottom: 20px; }
      section#contact form label span {
        display: block;
        font-size: 18px;
        font-weight: 400; }
    section#contact form button {
      display: block;
      font-family: "Alegreya SC";
      float: right; }
