<section id="contact">

  <div class="container">

    <div class="section-header">{% include svg/contact.html %}</div>

    <p>Have a question or comment? Complete the forms below to send us a message.</p>

<form action="//formspree.io/mcalshag88@gmail.com" method="POST">

  <div class="contact-info-group">

    <label><span>Your Name</span>
    <input type="text" name="name"></label>

    <label><span>Your Email</span>
    <input type="email" name="_replyto"></label>

    <input type="text" name="_gotcha" style="display:none" />

  </div>

  <label><span>Message</span>
  <textarea name="message" rows="8"></textarea></label>

  <button type="submit" class="btn btn-lg btn-default">Send <i class="fa fa-angle-double-right fa-lg"></i></button>

</form>

  </div>

</section>
