<section id="couple">

  <div class="container">

    <div class="section-header">{% include svg/weddingparty.html %}</div>

    <div class="row">
    <div class="col-sm-6">
    <img id="bride-photo" src="../img/Monica.jpg">
    <h3>Monica Calandro</h3>
    </div>

      <div class="col-sm-6">
        <img id="groom-photo" src="../img/Steve.jpg">
          <h3>Steve Shaughnessy</h3>
      </div>
    </div>

    <div class="row">

      <div id="bride-icon">{% include svg/dress.html %}</div>
      <h3>Bridesmaids</h3>
      <div id="bridesmaids">
        <div><img class="bridesmaid" src="/img/bridesmaids/rachel.jpg"><p>Rachel</p></div>
        <div><img class="bridesmaid" src="/img/bridesmaids/maggie.jpg"><p>Maggie</p></div>
        <div><img class="bridesmaid" src="/img/bridesmaids/jessie.jpg"><p>Jessie</p></div>
        <div><img class="bridesmaid" src="/img/bridesmaids/erin.jpg"><p>Erin</p></div>
        <div><img class="bridesmaid" src="/img/bridesmaids/ashlea.jpg"><p>Ashlea</p></div>
        <div><img class="bridesmaid" src="/img/bridesmaids/brittany.jpg"><p>Brittany</p></div>
      </div>
    </div>

    <div class="row">
      <div id="groom-icon">{% include svg/suit.html %}</div>
      <h3>Groomsmen</h3>
      <div id="groomsmen">
        <div><img class="groomsman" src="/img/groomsmen/mike.jpg"><p>Mike</p></div>
        <div><img class="groomsman" src="/img/groomsmen/dave.jpg"><p>Dave</p></div>
        <div><img class="groomsman" src="/img/groomsmen/sean.jpg"><p>Sean</p></div>
        <div><img class="groomsman" src="/img/groomsmen/grant.jpg"><p>Grant</p></div>
        <div><img class="groomsman" src="/img/groomsmen/eric.jpg"><p>Eric</p></div>
        <div><img class="groomsman" src="/img/groomsmen/ryan.jpg"><p>Ryan</p></div>
      </div>
    </div>

</section>
