<section id="eventinfo">

  <div class="container">

    <div class="section-header">{% include svg/eventinformation.html %}</div>

    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

      <h1>Ceremony</h1>
      <img src="/img/sacredheart.jpg">
      <span class="alegreya-sc"><h3>Sacred Heart of Jesus Church<br>
      6:00 pm</h3></span>
      <p>2250 Main Street, Baton Rouge, Louisiana</p>
      <a href="http://www.sacredheartbr.org/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
      <a href="https://www.google.com/maps/dir//Sacred+Heart+of+Jesus+Catholic+Church,+2250+Main+St,+Baton+Rouge,+LA+70802" target="_blank">directions <i class="fa fa-angle-double-right fa-lg"></i></a>

      <h1>Reception</h1>
      <img src="/img/lodcook.jpg">
      <span class="alegreya-sc"><h3>The Cook Hotel &amp; Conference Center at LSU<br>
      approx. 7:30 pm</h3></span>
      <p>3838 West Lakeshore Drive, Baton Rouge, Louisiana</p>
      <a href="http://www.thecookhotel.com/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
      <a href="https://www.google.com/maps/dir//Lod+Cook+Alumni+Center,+3838+W+Lakeshore+Dr,+Baton+Rouge,+LA+70808" target="_blank">directions <i class="fa fa-angle-double-right fa-lg"></i></a>

      <h1>Accomodations</h1>
      <h2>Hotels</h2>
      <span class="alegreya-sc"><h3>The Cook Hotel</h3></span>
      <i><h4>3848 West Lakeshore Drive, Baton Rouge, Louisiana</h4></i>
      <p>Located immediately adjacent to the reception, we have blocked a variety of rooms at a discounted rate for your convenience. To reserve a room, call <strong>225-383-2665</strong> and reference the <span class="alegreya-sc"><strong>calandro/shaughnessy</strong></span> wedding.</p>
      <a href="http://www.thecookhotel.com/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
      <span class="alegreya-sc"><h3>Embassy Suites Baton Rouge</h3></span>
      <i><h4>4914 Constitution Avenue, Baton Rouge, Louisiana</h4></i>
      <p>Another close-by, affordable option if you do not wish to stay on campus at LSU. We have reserved a variety of rooms here as well. To book a room, call <strong>225-924-6566</strong> and mention the <span class="alegreya-sc"><strong>calandro/shaughnessy</strong></span> wedding.</p>
      <a href="http://embassysuites3.hilton.com/en/hotels/louisiana/embassy-suites-baton-rouge-BTRCSES/index.html" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>

      <span class="alegreya-sc"><h3>Nearby</h3></span>

      <p>As there are only a limited number of blocked rooms, we also recommend the following nearby hotels as alternatives:</p>

      <ul>
        <li>Renaissance Baton Rouge Hotel
          <p><i>7000 Bluebonnet Blvd, Baton Rouge, Louisiana</i><br>
          225-215-7000</p>
          <a href="http://www.marriott.com/hotels/travel/btrbb-renaissance-baton-rouge-hotel/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
        </li>

        <li>Courtyard Baton Rouge Acadian Thruway/LSU Area
          <p><i>2421 South Acadian Trwy, Baton Rouge, Louisiana</i></p>
          <a href="http://www.marriott.com/hotels/travel/btrch-courtyard-baton-rouge-acadian-thruway-lsu-area/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
        </li>

        <li>Holiday Inn Baton Rouge
          <p><i>4848 Constitution Ave, Baton Rouge, Louisiana</i></p>
          <a href="http://www.holidaybaton.com/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
        </li>
      </ul>

      <h2>Transportation</h2>
      <span class="alegreya-sc"><h3>Baton Rouge Trolleys</h3></span>
      <p>We have reserved a trolley on the wedding day to shuttle guests from The Cook Hotel to Sacred Heart for the ceremony, and also from the ceremony to the reception.</p>
      <p>The trolley will depart The Cook Hotel at <strong>5:30pm</strong> to bring guests to Sacred Heart for the ceremony. As the trolley will only make one run prior to the ceremony, <strong>there will be limited seating for this trip</strong>&mdash;the trolley holds approximately 30 guests.</p> <p>Following the ceremony, the trolley will run between Sacred Heart and Lod Cook for the reception until all guests that need a ride have been accomodated.</p>

      <span class="alegreya-sc"><h3>Other</h3></span>
      <p>For those who do not wish to take the trolley or their own vehicles, the following transportation options are also available in Baton Rouge:</p>

      <ul>

      <li><p>Yellow Cab Baton Rouge<br>
        225-926-6400</p>
        <a href="http://www.brtaxi.com/" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
      </li>

      <li><p>Uber</p>
        <a href="https://www.uber.com/cities/baton-rouge" target="_blank">website <i class="fa fa-angle-double-right fa-lg"></i></a>
      </li>

    </ul>

    </div>

  </div>

</section>
