<section id="photos">

  <div class="container">

    <div class="section-header">{% include svg/photos.html %}</div>

    <div class="photos-text">
          <h3>Help us capture our wedding!</h3>
          <p>During the ceremony and reception, snap pictures with Instagram and use the tag <span class="alegreya-sc"><strong>#monicaplussteve</strong></span>. After the wedding, we'll post our favorites here!</p>
    </div>



    <div class="gallery">

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo1_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo1_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo1_landscape.jpg" alt="Photo1">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo2_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo2_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo2_landscape.jpg" alt="Photo2">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo3_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo3_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo3_landscape.jpg" alt="Photo3">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo4_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo4_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo4_landscape.jpg" alt="Photo4">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo5_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo5_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo5_landscape.jpg" alt="Photo5">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo6_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo6_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo6_landscape.jpg" alt="Photo6">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo7_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo7_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo7_landscape.jpg" alt="Photo7">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo8_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo8_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo8_landscape.jpg" alt="Photo8">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo9_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo9_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo9_landscape.jpg" alt="Photo9">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo10_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo10_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo10_landscape.jpg" alt="Photo10">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo11_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo11_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo11_landscape.jpg" alt="Photo11">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo12_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo12_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo12_landscape.jpg" alt="Photo12">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo13_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo13_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo13_landscape.jpg" alt="Photo13">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo14_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo14_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo14_landscape.jpg" alt="Photo14">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo15_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo15_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo15_landscape.jpg" alt="Photo15">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo19_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo19_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo19_landscape.jpg" alt="Photo19">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo22_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo22_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo22_landscape.jpg" alt="Photo22">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo23_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo23_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo23_landscape.jpg" alt="Photo23">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo24_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo24_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo24_landscape.jpg" alt="Photo24">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo26_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo26_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo26_landscape.jpg" alt="Photo26">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo29_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo29_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo29_landscape.jpg" alt="Photo29">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo32_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo32_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo32_landscape.jpg" alt="Photo32">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo33_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo33_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo33_landscape.jpg" alt="Photo33">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo35_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo35_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo35_landscape.jpg" alt="Photo35">
      </picture>
    </div>

    <div>
      <picture>
        <source srcset="/img/galleryphotos/photo36_landscape.jpg" media="(orientation: landscape)">
        <source srcset="/img/galleryphotos/photo36_portrait.jpg" media="(orientation: portrait)">
        <img src="/img/galleryphotos/photo36_landscape.jpg" alt="Photo36">
      </picture>
    </div>

    </div>

    <p class="photos-text">Photos by <span class="alegreya-sc">Rachel Calandro</span></p>

</section>
