<section id="gifts">

  <div class="container">

    <div class="section-header">{% include svg/gifts.html %}</div>

    <p>Click the logos below to view our registries.</p>

    <div class="logo-container">
      <a href="https://secure.williams-sonoma.com/registry/kj9vnjmqs6/registry-list.html" target="_blank" id="wm-sonoma">{% include svg/wm-sonoma-logo-svg.html %}</a>
      <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541466319&pwsurl=" target="_blank" id="bbb">{% include svg/bbb-logo-svg.html %}</a>
      <a href="http://www.target.com/gift-registry/giftgiver?registryId=EDtNKWvPtac18MS4UIXwPg&registryType=WEDDING" target="_blank" id="target">{% include svg/target-logo-svg.html %}</a>
      <a href="http://registry.sandals.com/Honeymoon-Registry-249520-Sandals-LaSource-Grenada-Monica-Calandro-Steven-Shaughnessy.html" target="_blank" id="sandals">{% include svg/sandals-logo-svg.html %}</a>
    </div>

  </div>

</section>
